.productsContainer {
  width: 100%;
}

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.productItem {
  flex-grow: 1;
  /*flex: 1 0 140px;*/
  box-shadow: 0 0 10px #ddd;
  margin: 2px;
  padding: 2px 10px;
  max-width: 210px;
  display: inline-block;
  text-decoration: none;
  color: #555;
  /*max-width: 211.5px;*/
}

.productImage {
  width: 120px;
  height: 150px;
  display: block;
  margin: auto;
  background: #00dddd;
}

@media screen and (max-width: 620px) {
  .productList {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}