.productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  /*box-shadow: 0 0 10px #aaa;*/
}



.imageBox {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 10px;
  text-align: center;
}

.productImageLarge {
  width: 250px;
  height: 320px;
  background: #00dddd;
}

.details {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 10px;
  padding: 5px;
}

.addButton {
  width: 120px;
  height: 45px;
  margin-bottom: 10px;
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}

.addButton:hover {
  background-color: mediumseagreen;
  /*transition: all .5s ease-in;*/
}

.addButton:active {
  background-color: mediumpurple;
}

.productReviews {
  margin-top: 20px;
  padding: 5px;
  /*box-shadow: 0 0 10px #aaa;*/
}

.reviewItem {
  /*box-shadow: 0 5px 1px #aaa;*/
  max-width: 600px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0px 10px;
  position: relative;
}

.addToCartMessage {
  color: #06a906;
  margin: 14px;
}