.reviewForm {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.formTitle {
  font-size: 1em;
  color: dodgerblue;
}

.reviewTextArea {
  width: 99%;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.reviewSelectRating {
  width: 80px;
  height: 45px;
  font-size: 1em;
  border: 1px solid #aaa;
}

.reviewSubmitBtn {
  margin: 10px;
  height: 45px;
  width: 150px;
  font-size: 1.1em;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.readyBtn {
  background: lightseagreen;
}