/*.authForm {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  max-width: 350px;
  margin: auto; 
}

.errorMessage {
  margin-left: 3px;
  color: #ff0000;
  font-size: 0.9em;
}

.labeled {
  display: block;
  margin: 15px 0 0 10px;
}

.labeltitle {
  font-size: 0.9em;
  color: #03a203;
  margin-left: 3px;
}

.formInput {
  font-size: 1.1em;
  width: 300px;
  height: 45px;
  padding: 0 0 0 3px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.formButton {
  margin: 20px 0 0 10px;
  height: 45px;
  width: 100px;
  font-size: 1.1em;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.signupButton {
  background-color: #32CD32;
}

.formError {
  margin: 10px 0 0 20px;
  color: #ff0000;
}*/